---
layout: single
title: "Publications"
permalink: /publications/
author_profile: true
---

<p align="center">
  <a href="https://scholar.google.com/citations?user=QUuN9CwAAAAJ"><img src="https://img.shields.io/badge/Google-Scholar-blue?logo=google-scholar&style=for-the-badge"></a>
  <a href="https://www.researchgate.net/profile/Subhadip-Biswas-3"><img src="https://img.shields.io/badge/ResearchGate-Profile-brightgreen?logo=researchgate&style=for-the-badge"></a>
  <a href="https://orcid.org/0000-0003-3184-5295"><img src="https://img.shields.io/badge/ORCID-Profile-A6CE39?logo=orcid&style=for-the-badge"></a>
</p>

<div style="display: flex; gap: 1rem; margin-bottom: 2rem; align-items: flex-start; flex-wrap: wrap;">

  <div style="flex: 2;">
    <p style="margin: 0; font-size: 1.05em;"><strong>Decoding Biomolecular Condensate Dynamics: An Energy Landscape Approach</strong></p>
    <p><em>S. Biswas and D.A. Potoyan</em><br>
    <strong>PLOS Comp. Bio.</strong> 21(2): e1012826, 2025<br>
    <a href="https://doi.org/10.1371/journal.pcbi.1012826" target="_blank">DOI: 10.1371/journal.pcbi.1012826</a>
    </p>
  </div>

  <div style="flex: 1; text-align: right;">
    <img src="/images/publications/energy-landscape.PNG" alt="Energy Landscape" style="max-width: 100%; max-height: 120px;">
  </div>

</div>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



